@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100&family=Rubik+Beastly&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");

/* font-family: 'Permanent Marker', cursive; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Rubik Moonrocks', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 700px;
  min-width: 380px;
  height: 400px;
}

header h1 {
  font-family: "Permanent Marker", cursive;
  background-color: #ffc600;
  font-size: 1.7rem;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 4rem #d80404;
  margin: auto;
}

.navbar {
  margin-top: 100px;
  margin-left: 100px;
}

.navbar a {
  text-decoration: none;
  color: #272727;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px;
  margin-top: -80px;
  font-size: 1.2rem;
  font-family: "Rubik Beastly";
  flex-wrap: wrap;
  gap: 2rem 2rem;
}

.döner {
  background-color: #ffc600;
  display: flex;
  width: 250px;
  height: 47px;
}

.icecek {
  display: flex;
  background-color: #ffc600;
  width: 250px;
  height: 47px;
}
.paket {
  display: flex;

  background-color: #ffc600;
  width: 250px;
  height: 47px;
}
.müzik {
  display: flex;

  background-color: #ffc600;
  width: 250px;
  height: 47px;
}
.rezervasyon {
  display: flex;
  background-color: #ffc600;
  width: 250px;
  height: 47px;
}

.döner a {
  width: 100%;
  margin: auto;
  margin-left: 80px;
}
.icecek a {
  width: 100%;
  margin: auto;
  margin-left: 70px;
}
.paket a {
  width: 100%;
  margin: auto;
  margin-left: 70px;
}
.müzik a {
  width: 100%;
  margin: auto;
  margin-left: 90px;
}
.rezervasyon a {
  width: 100%;
  margin: auto;
  margin-left: 40px;
}

.secenek-container {
  margin-top: 10px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.secenek-box {
  flex: 1 1 16rem;
  text-align: center;
  flex-wrap: wrap;
  margin-left: 30px;
}

.secenek-box img {
  width: 100px;
  height: 60px;
}

.secenek-box a {
  width: 100px;
  height: 50px;
}

.font-weight {
  font-size: 1.5rem;
}

.döner-özellik {
  /* border: 2px solid red; */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  width: 90%;
  margin-left: 5%;
  height: 500px;
  gap: 2rem;
}

.döner-özellik img {
  width: 300px;
  height: 230px;
  /* border: 2px solid red; */
}

.döner-özellik p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
button {
  border-radius: 10px;
  border-style: none;
  margin-top: 20px;
  margin-left: 50px;
  padding: 14px;
  box-shadow: 0 0 1rem #d80404;
  background-color: #ffc600;
  font-size: 1rem;
  font-family: "Permanent Marker", cursive;
}

button a {
  text-decoration: none;
}
button:hover {
  text-decoration: underline;
}
