@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100&family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');

/* font-family: 'Permanent Marker', cursive; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Rubik Moonrocks', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    

}

body{
    background-image: url(images/bg-01.jpg);
    background-size: cover;
    color: #272727;
    height: 100vh;
    flex-wrap: wrap;


    
}

header{
     margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 12rem;
    
}
header img{
    width: 700px;
    min-width: 250px;
    height: 400px;
    flex-wrap: wrap;
    
    

    
}

header h1{
    text-align: center;
    flex-wrap: wrap;
     font-family: 'Permanent Marker', cursive;
    background-color: #ffc600;
    font-size: 1.7rem;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 4rem #d80404;

}


.navbar{
    margin-top: 100px;
    margin-left: 50px;
}

.navbar a{
    text-decoration: none;
    color: #272727;
    
    
}
.navbar-content{
    
}

   
.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    width: 100%;
    margin: auto;
    padding: 30px;
    margin-top: -80px;
    font-size: 1.5rem;
    font-family: 'Rubik Beastly';
    flex-wrap: wrap;
    gap: 2rem 2rem;

}

.döner{
    
    background-color: #ffc600;
    padding: 15px 125px 15px 5px;
    display: flex;
}


.icecek{

    background-color: #ffc600;
    padding: 15px 80px 15px 5px;
}
.paket{

    background-color: #ffc600;
    padding: 15px 73px 15px 5px;

}
.müzik{

    background-color: #ffc600;
    padding: 15px 135px 15px 5px;

}
.rezervasyon{
    background-color: #ffc600;
    padding: 15px 20px 15px 5px;

}

.secenek-container{
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    
}

.secenek-box{
    flex: 1 1 16rem;
    margin-right: 25px;
    text-align: center;
    flex-wrap: wrap;
    
}

.secenek-box img{
    width: 100px;
    height: 60px;
}

.secenek-box a{
    width: 100px;
    height: 50px;
}



.font-weight{
    font-size: 1.5rem;


    
}




.döner-özellik{
    text-align: center;
    flex-wrap: wrap;
   background-color: #fff;
   width: 80%;
   margin-left: 10%;
   height: 350px;
   gap: 2rem;
    

}

.döner-özellik img{
    width: 300px;
    margin-right: 700px;
    display: flex;
    

    
}
.döner-özellik p{
    flex-wrap: wrap;
    margin-top: -100px;
    margin-left: 200px;
}
button{
    border-radius: 10px;
    border-style: none;
    margin-top: 20px;
    margin-left: 50px;
    padding: 14px;
    box-shadow: 0 0 1rem #d80404;
    background-color: #ffc600;
    font-size: 1rem;
    font-family: 'Permanent Marker', cursive;
    
}
button:hover{
    text-decoration: underline;
    

}













